/* A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
 */

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header{
	background:url("../images/banner-bg.jpg") no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.header-top{
	width: 100%;
	clear: both;
	padding:20px 0;
}
.logo{
	float:left;
}
.logo h1 a{
	color:#FFF;
	font-size:1.2em;
	font-weight:700;
   text-transform:uppercase;
}
.logo h1 a span{
	font-weight:100;
}
/*--menu--*/
.cssmenu{
	float:right;
}

.cssmenu1{
	float:left;
}
.cssmenu > ul > li {
	display: inline-block;
}
#nav .current a,.cssmenu > ul > li a:hover {
	border-color:#FFF;
}
.cssmenu > ul > li > a {
	color:#FFF;
	display: block;
	padding:12px 15px 12px 15px;
	border-bottom:5px solid rgba(255, 255, 255, 0);
	font-size:16px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.img-banner{
	padding:4em 0 0em 0;	
	position: relative;	
}
.img-banner-info{
	float: left;
	width:45%;
	margin-top:25px;
}
.img-banner-info h1{
	font-size:3.3em;
	font-weight:100;
	color:#FFF;
	text-transform:uppercase;
	line-height:1.2em;
}
.img-banner-info h1 span{
	font-weight:bold;
	-webkit-text-stroke: 1px;
}
.img-banner-info h3{
	font-size:36px;
	font-weight:100;
	color:#FFF;
	line-height:1.3em;
	margin:35px 0;
}
.img-banner-pic {
	float:right;
}
.img-banner-pic img{
	margin-bottom:-5px;
}
/** App Download Button **/
.app-btn a{
	display:inline-block;
	font-size:17px;
	font-weight:600;
	color:#FFF;
	background:#282828 url(../images/phone-icon.png) no-repeat 30px 6px; 
	padding:22px 35px 22px 75px;
	text-transform:uppercase; 
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.app-btn a:hover{
	color:#da332d;
	background:#FFF url(../images/phone-icon-hover.png) no-repeat 30px 6px; 
}
/*--content--*/
.features {
	background:#FFF;
	padding:5% 0;
}
.features h2{
	color:#8a8a8a;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom:2%;
	text-align:center;
}
.features p{
	color:#3a3a3a;
	font-size:22px;
	line-height:1.5em;
	text-align:center;
	width:74%;
	margin:0 auto;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
	margin:0% 0 0% 1.6%;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3 {
	width: 29.2%;
    padding: 1.5%;
}
.span_1_of_3  h3{
	color:#1a1a1a;
	font-size:25px;
	font-weight:600;
	text-transform:uppercase;
}
.span_1_of_3  p  {
	font-size:18px;
	padding:0.5em 0;
	color:#646464;
	width:100%;
	line-height: 1.6em;
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width:800px){
	.wrap{
		width:95%;
	}
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%;  
	}
}
.dc-head-icon {
	text-align:center;
	display:block;
	margin-bottom:15px;
}
.features-icon{
	font-size:75px;
}
.color {
	color:#44b76f;
}
.dc-head-info {
	text-align:center;
}
.features-list{
	margin-top:2em;
}
.content-middle{
	padding:12% 0;
	background:background:#3aada9;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.login{
	padding:5% 0;
}
.testimonials p{
	color:#787878;
	font-size:30px;
	font-weight: 100;
	line-height: 1.6em;
	width:70%;
	margin:0 auto;
	text-align:center;
}
.testimonials h3{
	font-size:20px;
	color:#E95E5A;
	font-weight:600;
	text-transform:uppercase;
	margin:2.5em 0;
	text-align:center;
}
/*--footer--*/
.footer{
	background:#2e2e38;
	padding:5% 0 0% 0;
}
.footer-top h3{
	color:#FFF;
	font-size:20px;
	font-weight:600;
	text-transform:capitalize;
	margin-bottom:20px;
}
.footer-top p{
	font-size:14px;
	color:#DCDCDC;
	line-height:1.6em;
}
.footer-top p span{
  font-style:italic;	
}
.tweeter-img{
	float:left;
}
.tweeter-img img{
	display:block;
	border:1px solid #FFF;
}
.tweeter-user{
	float:left;
	margin-left:15px;
	margin-top:5px;
}
.tweeter-user p{
	padding:0;
	font-weight:600;
}
.tweeter-user p span{
	font-size:12px;
	font-style:inherit;
	font-weight:normal;
}
.tweeter-desc{
	margin-top:15px;
}
.tweeter-desc a{
	font-weight:600;
	color:#DDD;
	margin-top:15px;
	display:inline-block;
	font-size:14px;
}
.tweeter-desc a:hover{
	text-decoration:underline;
	color:#FFF;
}
.post-desc{
	margin-top:0;
}
.post-img img{
 border:none;	
}
.footer-top li:first-child{
	margin-top:0;
}
.footer-top li{
	margin-top:15px;
}
.footer-bottom{
	padding:10px 0;
	background:#F9FAFD;
	text-align:center;
	margin-top:2em;
}
.copy p{
	color:#2e2e38;
	font-size:0.8em;
	line-height: 1.8em;
}
.copy p a{
	color:#E3530A;
	font-weight:600;
}
.copy p a:hover{
	color:#1E2024;
	text-decoration:underline;
}
 /*** move top **/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 0px;
	right: 10px;
	overflow: hidden;
	width:50px;
	height:50px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow_up.png) no-repeat center;
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}

}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}
	.content-middle{
		background-size:101%;
		padding:4% 0;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}
	.img-banner{
		padding:2em 0 0 0;
	}
	.img-banner-pic{
		width:35%;
	}
	.img-banner-info{
		width:60%;
	}
	.img-banner-info h3{
		font-size:25px;
		margin:20px 0;
	}
	.content-middle h2{
		font-size:2.5em;
	}
	.content-middle p{
		width:100%;
	}
	.download-button{
		margin-top:1em;
	}
	.testimonials p{
		width:100%;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}
	.cssmenu > ul > li > a{
		padding:12px 8px 12px 8px;
		font-size:13px;
	}
	.logo{
		width:15%;
	}
	.img-banner-info h1{
		font-size:2.2em;
	}
	.img-banner-info h3{
		font-size:22px;
	}
	.features p{
		width:100%;
		font-size: 18px;
	}
	.app-btn a{
		font-size:15px;
		padding:20px 25px 20px 70px;
		background:#282828 url(../images/phone-icon.png) no-repeat 25px 4px;
	}
	.app-btn a:hover{
		background:#FFF url(../images/phone-icon-hover.png) no-repeat 25px 4px;
	}
	.content-middle h2{
		font-size:2em;
	}
	.content-middle p{
		font-size:18px;
	}
	.download-desc{
		width:57%;
	}
	.testimonials p{
		font-size:24px;
	}
	.testimonials h3{
		margin:1.5em 0;
	}
	.dc-head-icon{
		margin-bottom:0;
	}
	.features-list{
		margin-top:0;
	}
	.features h2 {
		font-size: 2.5em;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}
	.img-banner{
		margin:1em 0 0 0;
	}
	.img-banner-info{
		margin-top:0;
	}
	.img-banner-info h1{
		font-size:2em;
	}
	.img-banner-info{
		width:65%;
	}
	.img-banner-info h3{
		font-size:18px;
		line-height:1.5em;
		margin:10px 0;
	}
	.features p{
		font-size:16px;
	}
	.content-middle{
		background-size:125%;
	}
	.testimonials p{
		font-size:18px;
	}
	.testimonials h3{
		margin:1em 0;
	}
}
@media (max-width:480px){
	.wrap{
		width:95%;
	}
	.header-top{
		padding:5px 0;
	}
	.logo{
		float:none;
		margin:0 auto;
		width:20%;
	}
	.cssmenu{
		float:none;
		text-align:center;
	}
    
    .cssmenu1{
		float:none;
		text-align:center;
	}
	.img-banner-info{
		float:none;
		width:100%;
	}
	.img-banner-pic{
		display:none;
	}
	.img-banner{
		margin:0;
		padding:1.5em 0;
		text-align:center;
	}
	.features h2{
		font-size:2em;
	}
	.download-desc{
		width:100%;
	}
	.content-middle{
		background-size:135%;
	}
	.content-middle p{
		font-weight:normal;
	}
}
@media (max-width:320px){
	.wrap{
		width:95%;
	}
	.cssmenu > ul > li > a{
		padding:12px 2px 12px 2px;
		font-size:11px;
	}
	.features p,.testimonials p {
		font-size:15px;
	}
	.testimonials h3{
		margin:.5em 0;
	}
	.content-middle h2{
		font-size:1.5em;
	}
	.content-middle p{
		font-size:15px;
	}
	.content-middle{
		background-size:180%;
	}
	.img-banner-info h1 {
		font-size: 1em;
		margin-bottom:20px;
    }
    .img-banner-info h3 {
	   display: none;
    }
    .app-btn a {
		font-size: 13px;
	}
}		
.one {
       float:right;
    width:20px;
    height:20px;
}

